<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="https://5f8eec5fc497880bfac47841.preview.siteleaf.com/#page-top"><img id="imgLogo" src="/img/logo_app-web.png" /></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="https://5f8eec5fc497880bfac47841.preview.siteleaf.com/#grupo">Grupo</a>
						<ul class="submenu dropdown-menu">
							<li><a class="dropdown-item" href="/grupo/2016-06-01-actividad/"> Actividad</a></li>
							<li><a class="dropdown-item" href="/grupo/2016-06-02-historia/"> Historia</a></li>
							<li><a class="dropdown-item" href="/grupo/2016-06-03-presencia/"> Presencia</a></li>
							<li><a class="dropdown-item" href="/grupo/2016-06-04-consejo/"> Consejo</a></li>
						</ul>
					</li>
                    <li>
                        <a class="page-scroll" href="https://5f8eec5fc497880bfac47841.preview.siteleaf.com/#numeros">Números</a>
						<ul class="submenu dropdown-menu">
							<li><a class="dropdown-item" href="/numeros/2016-06-01-tiendas/"> Tiendas</a></li>
							<li><a class="dropdown-item" href="/numeros/2016-06-02-ventas/"> Ventas</a></li>
							<li><a class="dropdown-item" href="/numeros/2016-06-03-resultados/"> Resultados</a></li>
							<li><a class="dropdown-item" href="/numeros/2016-06-04-balance/"> Balance</a></li>
						</ul>
					</li>
                    <li>
                        <a class="page-scroll" href="https://5f8eec5fc497880bfac47841.preview.siteleaf.com/#prensa">Prensa</a>
						<ul class="submenu dropdown-menu">
							<li><a class="dropdown-item" href="/prensa/2016-06-01-comunicaciones/"> Comunicaciones</a></li>
							<li><a class="dropdown-item" href="/prensa/2016-06-02-noticias/"> Noticias</a></li>
							<li><a class="dropdown-item" href="/prensa/2016-06-04-galeria/"> Galería</a></li>
							<li><a class="dropdown-item" href="/prensa/2016-06-06-contacto/"> Contacto</a></li>
						</ul>
					</li>
                    <li>
                        <a class="page-scroll" href="https://5f8eec5fc497880bfac47841.preview.siteleaf.com/#personas">Personas</a>
						<ul class="submenu dropdown-menu">
							<li><a class="dropdown-item" href="/personas/2016-06-01-comunicaciones/"> Cultura</a></li>
							<li><a class="dropdown-item" href="/personas/2016-06-01-cultura/"> Equipos</a></li>
							<li><a class="dropdown-item" href="/personas/2016-06-02-equipos/"> Carreras</a></li>
							<li><a class="dropdown-item" href="/personas/2016-06-03-carreras/"> Oportunidades</a></li>
						</ul>
					</li>
                    <li>
                        <a class="page-scroll" href="https://5f8eec5fc497880bfac47841.preview.siteleaf.com/#sostenibilidad">Sostenibilidad</a>
						<ul class="submenu dropdown-menu">
							<li><a class="dropdown-item" href="/sostenibilidad/2016-06-01-modelo/"> Modelo</a></li>
							<li><a class="dropdown-item" href="/sostenibilidad/2016-06-02-estrategia/"> Estrategia</a></li>
							<li><a class="dropdown-item" href="/sostenibilidad/2016-06-03-iniciativas/"> Iniciativas</a></li>
							<li><a class="dropdown-item" href="/sostenibilidad/2016-06-04-impacto/"> Impacto</a></li>
						</ul>
					</li>
					<li>
                        <a class="page-scroll" href="/#compliance">Compliance</a>
						<ul class="submenu dropdown-menu">
							<li><a class="dropdown-item" href="/compliance/2016-06-01-eticacorporativa/"> Ética Corporativa</a></li>
							<li><a class="dropdown-item" href="/compliance/2016-06-02-gobiernocorporativo/"> Gobierno Corporativo</a></li>
							<li><a class="dropdown-item" href="/compliance/2016-06-03-contacto/"> Contacto</a></li>
						</ul>
					</li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header{% if page.background_image %} style="background-image: url('{{ page.background_image }}')"{% endif %}>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">{{ page.lead-in }}</div>
                <div class="intro-heading">{{ page.heading }}</div>
                <a href="#grupo" class="page-scroll btn btn-xl">Más información</a>
            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

