<!DOCTYPE html>
<html>

  {% include head.html %}
	<style>
	  header {display:none;}
	</style>
    <body id="page-top" class="index">
    {% include header.html %}
	<div class="container" style="margin-top:100px;">
                <div class="row">
					<h2>{{ page.title }}</h2>
                    <hr class="star-primary">
                    <div class="col-md-8">
                        <div class="modal-body">
                            							
							<h4>{{ page.subtitle }}</h4>
                            <img src="{{ page.image }}" class="img-responsive img-centered" alt="{{ page.alt }}">
							
							<div class="text-muted" style="margin:30px 10px;">{{ page.content }}</div>
                            							
							<p>{{ page.date }}</p>
                        </div>
                    </div>
					<div class="col-md-4">
							<h5>Noticias Relacionadas</h5>
							<ul class="">
							{% for post in page.RelatedArticles %}
								<li>
                                    <strong><a href="{{ post.Url }}">{{ post.Title }}</a>
                                    </strong>
                                </li>
							{% endfor %}
							</ul>
							
							<h5>Documentos Relacionados</h5>
							<ul class="">
							{% for post in page.RelatedDocuments %}
								<li>
                                    <strong><a href="{{ post.Url }}">{{ post.Title }}</a>
                                    </strong>
                                </li>
							{% endfor %}
							</ul>
					</div>
                </div>
            </div>

    </body>
</html>
